* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
/*todo <!----------------------------------------------- < Main Pages Start > -----------------------------------------------> */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  width: 200%;
}
#banner {
  margin: 50px auto;
  width: 90%;
}

/* off section */
.off_section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* our benifit */
#our_benifit {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#our_benifit > h2 {
  text-decoration: underline rgb(242, 208, 12);
}
#unmissable {
  margin-top: 50px;
}
#unmissable > h2 {
  text-align: center;
  text-decoration: underline rgb(242, 208, 12);
  margin-bottom: 20px;
}
#unmissable > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Winterwear {
  text-align: center;
  margin-top: 50px;
}
#Winterwear > h2 {
  text-decoration: underline rgb(242, 208, 12);
  margin-bottom: 20px;
}
#Winterwear > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Winterwear > div > img {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* trending */
#trending {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#trending > h2 {
  text-decoration: underline rgb(242, 208, 12);
  margin-bottom: 20px;
}
#trending > div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#trending > div > img {
  margin-bottom: 20px;
}

/* Watches */

#watces {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#watces > h2 {
  text-decoration: underline rgb(242, 208, 12);
  margin-bottom: 20px;
}
#watces > div > img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 95%;
}

#top_btn {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: auto;
  background-color: aliceblue;
}
#top_btn > button {
  width: 100%;
  font-weight: 500;
  padding: 26px;
  font-size: 18px;
  background-color: aliceblue;
  border: 1px solid rgb(243, 225, 225);
}
#top-category img {
  width: 250px;
  height: 380px;
  object-fit: cover;
  object-position: center;
  margin: 12px;
}
#top-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-category1 > h2 {
  text-align: center;
  text-decoration: underline rgb(242, 208, 12);
}
/* top in deals */
#top_deal {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline rgb(242, 208, 12);
  gap: 20px;
}
#top_deal > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#top_brands_discount {
  align-items: center;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline rgb(242, 208, 12);
}

#top_brands_discount img {
  margin-bottom: 20px;
  height: 20%;
  width: 13%;
}
#season_hotest_pic {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline rgb(242, 208, 12);
}
#season_hotest_pic img {
  border-radius: 10px;
  height: 35%;
  width: 22%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#top_brands_we_love {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline rgb(242, 208, 12);
}
#top_brands_we_love img {
  border-radius: 10px;
  height: 35%;
  margin: 10px;
  width: 14%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#value_pics {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline rgb(242, 208, 12);
}
#value_pics img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px;
}
