* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* banner */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  width: 200%;
}
#banner {
  margin-top: 50px;
  width: 90%;
}

/* banner */
#container {
  /* border: 1px solid red; */
  width: 97%;
  margin: 20px auto;
}

#container > img {
  width: 100%;
  margin: 20px 0px;
}

#button {
  text-align: center;
}

#button > button {
  color: orange;
  background-color: white;
  border: 1px solid blue;
  height: 50px;
  width: 290px;
  margin: 30px;
}

#button > button:hover {
  border: 1px solid orange;
}

h2 {
  margin-top: 25px;
}

hr {
  width: 50px;
  background-color: orange;
  border: 2px solid orange;
  margin: 5px 0px 15px 0px;
}

#buyFree {
  display: flex;
  justify-content: space-between;
}

#buyFree > img {
  width: 16%;
  margin: 10px 0px;
}

#brandImage {
  display: flex;
  justify-content: space-between;
}

#brandImage > img {
  width: 16%;
  margin: 10px 0px;
  border-radius: 15px;
}

#winterClothes {
  display: flex;
  justify-content: space-between;
}

#winterClothes > img {
  width: 16%;
  margin: 10px 0px;
}

#bigBrandsProducts,
#categoryProducts,
#trandingBrands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bigBrandsProducts > img,
#categoryProducts > img,
#trandingBrands > img {
  width: 16%;
  margin: 10px 0px;
  border-radius: 15px;
}

#TopPicks,
#winterTrends,
#mostlovedstyle,
#highlights,
#trendsclothes,
#activeWardrobe {
  display: flex;
  justify-content: space-between;
}

#TopPicks > img,
#winterTrends > img,
#mostlovedstyle > img,
#highlights > img,
#trendsclothes > img,
#activeWardrobe > img {
  width: 33.3%;
  margin: 10px 0px;
}

#dealCorner {
  display: flex;
  justify-content: space-between;
}

#dealCorner > img {
  width: 19%;
  height: 300px;
  margin: 10px 0px;
}

#mostLovedBrands,
#essentials {
  display: flex;
  justify-content: space-between;
}

#mostLovedBrands > img,
#essentials {
  width: 50%;
  margin: 10px 0px;
}

#watch {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

#watch > img {
  width: 230px;
  height: 300px;
}

#shopByDepartment {
  display: flex;
  justify-content: space-between;
}

#shopByDepartment > img {
  width: 33%;
}

/*? ----------------------------Medium Screen Sizes -------------------------------- */
@media all and (min-width: 810px) and (max-width: 1000px) {
  /*========my media query start--------------------------------- */
  #container {
    border: 2px solid red;
    margin: auto;
  }

  #buyFree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #buyFree > img {
    width: 98%;
  }
  #brandImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #brandImage > img {
    width: 95%;
  }

  #winterClothes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #winterClothes > img {
    width: 95%;
    margin: 10px 0px;
  }

  #bigBrandsProducts,
  #categoryProducts,
  #trandingBrands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #bigBrandsProducts > img,
  #categoryProducts > img,
  #trandingBrands > img {
    width: 95%;
    margin: 10px 0px;
    border-radius: 15px;
  }

  #TopPicks,
  #winterTrends,
  #mostlovedstyle,
  #highlights,
  #trendsclothes,
  #activeWardrobe {
    display: flex;
    justify-content: space-between;
  }

  #TopPicks > img,
  #winterTrends > img,
  #mostlovedstyle > img,
  #highlights > img,
  #trendsclothes > img,
  #activeWardrobe > img {
    width: 33.3%;
    margin: 10px 0px;
  }

  #dealCorner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #dealCorner > img {
    width: 95%;
    height: 500px;
    margin: 10px 0px;
  }
}

/*?----------------------------Small Screen Sizes -------------------------------- */
@media all and (min-width: 10px) and (max-width: 809px) {
  * {
    font-size: 12px;
  }

  /*======================men page responsive========== */

  #buyFree,
  #brandImage,
  #winterClothes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #buyFree > img,
  #brandImage > img,
  #winterClothes > img {
    width: 95%;
    margin: 10px 0px;
  }

  #bigBrandsProducts,
  #categoryProducts,
  #trandingBrands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #bigBrandsProducts > img,
  #categoryProducts > img,
  #trandingBrands > img {
    width: 95%;
  }
  #TopPicks,
  #winterTrends,
  #mostlovedstyle,
  #highlights,
  #trendsclothes,
  #activeWardrobe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #TopPicks > img,
  #winterTrends > img,
  #mostlovedstyle > img,
  #highlights > img,
  #trendsclothes > img,
  #activeWardrobe > img {
    width: 50%;
    margin: 10px 0px;
  }

  #dealCorner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #dealCorner > img {
    width: 95%;
    height: 250px;
    margin: 10px 0px;
  }

  #mostLovedBrands,
  #essentials {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #mostLovedBrands > img,
  #essentials > img {
    width: 100%;
  }
  #essentials {
    width: 98%;
  }

  #watch {
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #watch > img {
    width: 96%;
  }

  #shopByDepartment {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #shopByDepartment > img {
    width: 100%;
  }
  #button > button {
    width: 250px;
    margin-left: 16px;
  }
}
