*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
#showProducts{
    /* border: 1px solid red; */
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
#product{
    /* border: 1px solid red; */
    padding: 15px;
    font-size: 14px;
}
#product>img{
    width: 100%;
   
}

.basket{
    /* border: 1px solid green; */
    background-color: white;
    width: 306px;
    margin-left: -15px;
    height: 100px;
    text-align: center;
    display: none;
    position: absolute;
}
.basket>button{
    color: white;
    background-color: orange;
    border: 0px;
    font-size: 15px;
    width: 90%;
    height: 50px;
    margin-top: 40px;
}
#product:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
#product:hover .basket{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.price{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 16px;
}
.price>i{
    margin-right: 5px;
}
.showCount{
    color: grey;
    margin: 25px;
}
#container{
    /* border: 1px solid red; */
    background-color: lightgray;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 20px;
    padding: 15px;
}
#container>select{
    height: 35px;
}


body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
